@import url("./no-foo.css");
:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  font-size: 13px;
}
body {
  padding-top: 10%;
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  padding: 1px 30px;
}

.card-component {
  height: 510px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 39% 61%;
  border-radius: 10px;
  /* overflow: hidden; */
  overflow: hidden;
  box-shadow: 10px 10px 50px rgb(209, 209, 209);
}

/* 
footer disable
*/

.foo-card {
  height: 50px;
  padding: 1em 2.2em;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  width: auto;
  margin-top: 0.1em;
}
.is-hidden {
  position: relative;
  margin-top: -100px;
  display: none;
}
#foo-perfil {
  color: var(--VeryDarkGrayishBlue);
  grid-template-areas: "pic name share-b";
  position: relative;
  animation: close ease-in-out 1s;
  animation-fill-mode: both;
}
@keyframes close {
  from {
    top: 65px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes open {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

#foo-perfil .perfil img {
  grid-area: pic;
  border-radius: 100%;
}
#foo-perfil .info-user {
  grid-area: name;
  display: grid;
  margin-left: -1.4em;
}
.name {
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 0.15em;
}
.date {
  color: var(--GrayishBlue);
  font-weight: 500;
  font-size: 1em;
}

.arrowshare {
  background: url("./images/icon-share-blue.svg") center center no-repeat;
  background-color: var(--Light-Grayish-Blue);
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
}

#foo-share {
  background-color: var(--VeryDarkGrayishBlue);
  color: white;
  position: relative;
  animation: close ease-in-out 1s;
  animation-fill-mode: both;
}

#foo-share .texto-foo {
  letter-spacing: 0.4em;
  color: var(--GrayishBlue);
  font-weight: 400;
}
.social {
  display: flex;
  align-items: center;
}
#foo-share .social img {
  margin: 0 0.6em;
  height: 1.6em;
  width: 1.6em;
  align-items: center;
}
.arrowshare-b {
  background: url("./images/icon-share.svg") center center no-repeat;

  background-color: var(--DesaturatedDarkBlue);
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .info,
  .info > * {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .card-component {
    height: 280px;
    width: 740px;
    display: grid;
    grid: none;
    grid-template-columns: 290px 450px;
    overflow: visible;
  }
  .conteiner-info {
    height: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: left 1px center no-repeat;
    border-radius: 10px 0 0 10px;
  }

  .wrapper {
    padding-top: 3em;
    padding-left: 3em;
    overflow: visible;
  }
  .info {
    width: 350px;
  }
  .info .title {
    padding-top: 0em;
    padding-bottom: 0.5em;
    font-size: 1.8em;
  }
  .info p {
    font-size: 1.2em;
  }
  .footer {
    margin-top: 1.4em;
  }
  .foo-card {
    padding: 1em 3em;
  }
  .modal {
    border: 1px solid var(--VeryDarkGrayishBlue);
    background-color: var(--VeryDarkGrayishBlue);
    border-radius: 10px;
    position: absolute;
    height: 50px;
    width: 250px;
    margin-top: -8em;
    margin-left: -8.5em;
  }
  .social-share {
    margin-top: -3.3em;
    color: var(--GrayishBlue);
    padding: 0 2.85em;
    letter-spacing: 0.5em;
    font-weight: 500;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  div[class="arrowshare active-click"] {
    background: url("./images/icon-share.svg") center center no-repeat;

    background-color: var(--DesaturatedDarkBlue);
    text-align: center;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
  }
  .social-share > img {
    margin-left: 1.1em;
  }
  .modal div {
    position: relative;
  }
  .modal::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--VeryDarkGrayishBlue);
    display: block;
    margin: auto;
    margin-top: 43px;
    transform: rotate(45deg);
  }
}
